body {
    font-family: sans-serif;
    color: black;
  }
  button {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
  }
  button:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
  }
  button.hidden {
    display: none;
  }
  input,
  button {
    outline: none;
    border: 1 px transparent;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 30px;
    background-color: blueviolet;
  }
 
  .container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
    }

    .gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    .photo-card {
    width: 30%;
    text-align: center;
    border-radius: 15px;
    background-color: #c1c1c1;
    padding: 20px;
  
    }
    
    .photo-card img {
        width: 410px;
        height: 250px;
        object-fit: cover;
    }
    
    .info {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
   
 
