body {
    font-family: sans-serif;
    color: black;
  }
  button {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    cursor: pointer;
    border: none;
    border: 1px solid rgb(221, 206, 206);
    background-color: antiquewhite;
  
  }
  button:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
  }
  button.hidden {
    display: none;
  }
  input, button
   {
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 30px ;}
  
 .input {
  outline: none;
  background-color:beige;
  border: 2px solid rgb(235, 225, 245);
 }
  .container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
    }

    .gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    .photo-card {
    text-align: center;
    border-radius: 15px;
    background-color: #c1c1c1;
    padding: 20px;
  
    }
    
    .photo-card img {
        width: 410px;
        height: 250px;
        object-fit: cover;
    }
    
    .info {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: inherit;
        font-weight: 400;

    }
    .info-item{
      margin-right: 5px;
      margin-left: 5px;
    }
   
 
